
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="cards">

</div>

@* <div class="carousel-item">
    <img src="${imgSrc}" class="d-block w-100" alt="${description}" />
    <div class="carousel-caption d-none d-md-block">
        <h6>${description}</h6>
    </div>
</div> *@

@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        const northernSpots = spots.CommonFormat.Section.map((spot) => {
            const { stitle, xbody, file } = spot;
            return { stitle, xbody, file };
        });
        console.log(northernSpots);

        const spotsContainer = document.querySelector(".cards");

        //create carouselItem
        let createCarouselItems = ((imgSrc, description) => {
            return `<div class="carousel-item">
            <img src="${imgSrc}" class="d-block w-100" alt="${description}" />
            <div class="carousel-caption d-none d-md-block">
                <h6>${description}</h6>
            </div>
        </div>`;
        })

        //createCard
        let createCards = ((card = {}) => {
            let stitle = card.stitle;
            let xbody = card.xbody;
            let images = card.file;
            let carouselItems = images.map((file) => {
                return createCarouselItems(file.img.text, file.img["@description"])
            })

            // let template = `<div class="row row-cols-1 row-cols-md-2 g-4">
            //               <div class="col">
            //                 <div class="card">
            //                   <img src="${file}" class="card-img-top" alt="...">
            //                   <div class="card-body">
            //                     <h5 class="card-title">${stitle}</h5>
            //                     <p class="card-text">${xbody}</p>
            //                   </div>
            //                 </div>
            //               </div>`
            let template = `<div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div id="carousel-${stitle}" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                                    ${carouselItems.join("")}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-${stitle}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-${stitle}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                             <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">${stitle}</h5>
                                        <p class="card-text">${xbody}</p>
                                      </div>
                                    </div>
                                </div>
                            </div>`;

            let node = document.createElement("div");
            node.innerHTML = template;
            return node.children[0];

        });

        const createdSpots = northernSpots.map((spots) => {
            return createCards(spots);
        });

        createdSpots.forEach((spot) => {
            spotsContainer.append(spot);
        });




       
        // console.log(spots.CommonFormat.Section);
    </script>
}
