
@{
    ViewData["Title"] = "AutoComplete";
}

<h1>AutoComplete</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <input type="text" class="form-control mb-3" id="autoComplete" />
        <div class="list-group">

        </div>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts{
    <script>
        const 
    </script>
}